<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DAN-LAPTOP;Initial Catalog=DotaWin;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
      providerName="System.Data.SqlClient" />
 </connectionStrings>
